@media (min-width: 1024px) {
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    .review-move {
      &:nth-child(2) {
        margin-top: 1.5rem;
      }
      &:nth-child(3) {
        margin-top: 3rem;
      }
    }
    .card {
      margin: 0 1rem;
      padding: 3rem 3rem;
    }
  }
}
