$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-garyish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$font-size: 15px;
$font-spartan: "Spartan", sans-serif;
$font-400: 400;
$font-500: 500;
$font-700: 700;
